<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationUsageDescription</key>
    <string>定位权限 - iOS6.0-8.0</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>定位权限 - iOS11.0+</string>
<!--	<key>NSLocationAlwaysUsageDescription</key>-->
<!--	<string>定位权限 - iOS8.0-10.0</string>-->
<!--    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>-->
<!--    <string>>定位权限 - iOS11.0+</string>-->
</dict>
</plist>
